* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

html, body {
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

#rematch-btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #238636;
    padding: 11px 14px;
}

#rematch-btn:hover {
    background-color: #29a842;
}

#result-placeholder > p {
    color: white;
    font-size: large;
}

.row:nth-child(1) .column:nth-child(1),
.row:nth-child(1) .column:nth-child(2),
.row:nth-child(1) .column:nth-child(3) {
    border-top: none;
}

.row:nth-child(1) .column:nth-child(1),
.row:nth-child(2) .column:nth-child(1),
.row:nth-child(3) .column:nth-child(1) {
    border-left: none;
}

.row:nth-child(1) .column:nth-child(3),
.row:nth-child(2) .column:nth-child(3),
.row:nth-child(3) .column:nth-child(3) {
    border-right: none;
}

.row:nth-child(3) .column:nth-child(1),
.row:nth-child(3) .column:nth-child(2),
.row:nth-child(3) .column:nth-child(3) {
    border-bottom: none;
}